.buttonBar {
	margin: 0;
}

.buttonBar .btn {
	margin-bottom: 10px;
}

.well-small {
	padding: 2px 9px 0 9px;
}

.well-small .buttonBar {
	margin: 10px 0px 0px 10px;
}

.small_box .btn {
	margin-bottom: 5px;
}

.form-actions {
	margin-bottom: -8px;
	padding-left: 0;
}
